.page-header.type25 {
    border: 0;
    background-color: #f6f7f9;
}
.page-header.type25 .panel.wrapper {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
    display: none;
}
.page-header.type25 .header.content {
    display: flex;
}
.page-header.type25 .header-main-left, .page-header.type25 .header-main-right {
    flex: 1;
    display: flex;
    align-items: center;
}
.page-header.type25 .header-main-left {
    padding: 27px 0;
}
.page-header.type25 .header-main-right {
    padding: 22px 0;
    justify-content: flex-end;
}
.page-header.type25 .logo {
    max-width: none;
}
.page-header.type25 .header-main-right a[title="My Account"] > i {
    width: 52px;
    height: 52px;
    text-align: center;
    padding: 7px 0;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    margin-right: 15px;
    font-size: 25px;
    color: #222529;
}
.page-header.type25 .header-main-right a[title="My Account"] > * {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}
.page-header.type25 .header-main-right a[title="My Account"] > i {
    width: 52px;
    height: 52px;
    text-align: center;
    padding: 7px 0;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    margin-right: 15px;
    font-size: 25px;
}
.page-header.type25 .header-main-right .action.my-wishlist {
    font-size: 27px;
    color: #222529;
    margin-left: 24px;
}
.page-header.type25 .minicart-wrapper {
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    margin-left: 20px;
    vertical-align: middle;
    float: none;
}
.page-header.type25 .minicart-wrapper .action.showcart {
    width: 25px;
    height: 20px;
    border: 2px solid #222529;
    border-radius: 0 0 5px 5px;
    position: relative;
    opacity: .9;
    padding-right: 0;
}
.page-header.type25 .minicart-wrapper .action.showcart:before {
    content: '' !important;
    position: absolute;
    border: 2px solid;
    border-color: inherit;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    left: 50%;
    top: -8px;
    margin-left: -7.5px;
    width: 15px;
    height: 11px;
}
.page-header.type25 .minicart-wrapper .action.showcart .counter.qty {
    width: 16px;
    height: 16px;
    display: block;
    font-size: 10px;
    color: #fff;
    background-color: #ed5348;
    text-align: center;
    line-height: 16px;
    border-radius: 20px;
    min-width: auto;
    left: auto;
    right: -14px;
    margin-top: -20px;
}
.page-header.type25 .menu-container {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}
.page-header.type25 .menu-wrapper {
    display: flex;
}
.page-header.type25 .drop-menu {
    padding: 0;
    width: auto;
    min-width: 0;
    float: none;
}
.page-header.type25 .drop-menu > a {
    width: auto;
    pointer-events: all;
    background: none;
    font-size: 15px;
    text-transform: none;
    padding: 17px 20px;
    height: 52px;
    color: #222529;
    border-right: 1px solid #e7e7e7;
    white-space: nowrap;
}
.page-header.type25 .drop-menu > a:after {
    content: '\f813';
    display: inline-block;
    font-family: 'porto-icons';
    vertical-align: middle;
    margin-left: 5px;
    line-height: 1;
}
.page-header.type25 .drop-menu > a > span {
    display: inline-block;
    vertical-align: middle;
}
.page-header.type25 .drop-menu > a .toggle {
    border-top: 2px solid;
    width: 18px;
    vertical-align: middle;
    margin-right: 12px;
    display: inline-block;
    position: relative;
}
.page-header.type25 .drop-menu > a .toggle:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -7px;
    border-top: 2px solid;
}
.page-header.type25 .drop-menu > a .toggle:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    border-top: 2px solid;
}
.page-header.type25 .search-area > a {
    display: none;
}
.page-header.type25 .block-search input:focus, .page-header.type25 .search-category select:focus {
    box-shadow: none;
}
.page-header.type25 .block-search .action.search:before {
    content: '\e884';
    font-weight: 900;
    font-size: 16px;
}
.page-header.type25 .block-search input {
    font-size: 14px;
    font-style: italic;
}
.page-header.type25 .block-search .search-category {
    display: none;
}
.page-header.type25 .drop-menu > a.active {
    background-color: #293871;
    color: #fff;
}
.page-header.type25 .minicart-wrapper .action.showcart:after {
    display: none;
}
.page-header.type25 .search-toggle-icon > i:before {
    content: '\e884';
    font-weight: 900;
}
@media (min-width: 768px) {
    .page-header.type25 .panel.header .switcher {
        margin-right: 15px;
    }
    .page-header.type25 .switcher .options .action.toggle:after {
        line-height: 14px;
    }
    .page-header.type25 .drop-menu .nav-sections {
        position: absolute !important;
        top: 100% !important;
        width: 250px !important;
        left: 0 !important;
        border-bottom: 0;
        border-top: 3px solid #293871;
        box-shadow: 0 0 60px rgba(0,0,0,.15);
    }
    .page-header.type25 .drop-menu .nav-sections:not(.visible) {
        visibility: hidden;
        opacity: 0;
    }
    .page-header.type25 .drop-menu .nav-sections.visible {
        visibility: visible;
        opacity: 1;
    }
    .page-header.type25 .block-search {
        width: 100%;
        margin: 0;
    }
    .page-header.type25.sticky-header .navigation {
        padding: 0;
    }
    .page-header.type25 .custom-menu-block .sw-megamenu.navigation li.level0 {
        border-left: 1px solid #e7e7e7;
        margin: 0;
    }
    .page-header.type25 .custom-menu-block .sw-megamenu.navigation li.level0:first-child {
        border-left: 0;
    }
    .page-header.type25 .custom-menu-block .sw-megamenu.navigation li.level0 > a {
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0.14px;
        color: #777777;
        padding: 15px 20px 15px 20px;
        text-transform: none;
        max-height: 52px;
    }
    .page-header.type25 .custom-menu-block .sw-megamenu.navigation li.level0:hover > a {
        color: #222529;
    }
    .page-header.type25 .custom-menu-block .navigation .level0.parent > a:after {
        line-height: 1;
        vertical-align: middle;
    }
    .page-header.type25 .drop-menu + .custom-menu-block {
        float: none;
        margin-right: auto;
        position: relative;
        z-index: 5;
    }
    .page-header.type25 .block-search input {
        border: 0;
        border-bottom: 2px solid #222529;
        padding-left: 0;
        height: 53px;
        margin-bottom: -1px;
    }
    .page-header.type25 .search-category select {
        border-width: 0 1px;
        height: 50px !important;
    }
    .page-header.type25 .search-area {
        width: 33.3333%;
        margin-left: auto;
    }
    .page-header.type25 .block-search .action.search {
        width: 38px;
        height: 50px;
        font-size: 16px;
        color: #222529;
    }
    .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0 {
        display: block;
        margin: 0;
        border-top: 1px solid rgba(0,0,0,0.125);
    }
    .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0:first-child {
        border-top: 0;
    }
    .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0 > a {
        display: block;
        line-height: 49px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.14px;
        text-transform: none;
        color: #777;
    }
    .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0 > a > .menu-thumb-icon {
        margin-right: 8px;
        font-size: 1.25em;
        position: relative;
        top: 1px;
    }
    .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0:hover > a {
        color: #222529;
    }
    .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0.fullwidth > .submenu, .page-header.type25 .drop-menu .sw-megamenu.navigation li.level0.staticwidth > .submenu {
        padding-bottom: 8px;
        padding-top: 8px;
    }
    .page-header.type25.sticky-header .menu-container {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
    }
}
@media (min-width: 768px) and (max-width: 1199px) {
    .page-header.type25 .custom-menu-block .sw-megamenu.navigation li.level0 > a {
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: 992px) {
    .page-header.type25 .header-main-right .search-area {
        display: none;
    }
}
@media (max-width: 991px) {
    .page-header.type25 .menu-container .search-area {
        display: none;
    }
    .page-header.type25 .header-main-left {
        display: none;
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .page-header.type25 .search-area {
        width: auto;
        margin-left: 34px;
        position: relative;
    }
    .page-header.type25 .search-area > a {
        display: block;
        font-size: 20px;
        color: #222529;
    }
    .page-header.type25 .search-area > a > span {
        display: none;
    }
    .page-header.type25 .block-search {
        position: absolute;
        right: -40px;
        top: 100%;
        width: 280px;
        margin-top: 15px;
        border: 5px solid #ccc;
        border-radius: 50px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }
    .page-header.type25 .block-search:before {
        content: "";
        position: absolute;
        right: 38px;
        top: -27px;
        width: 22px;
        height: 22px;
        border: 11px solid transparent;
        border-bottom-color: #ccc;
    }
    .page-header.type25 .block-search.show {
        visibility: visible;
        opacity: 1;
    }
    .page-header.type25 .block-search input {
        border: 0;
        padding-left: 20px;
        height: 38px;
        border-radius: 20px;
    }
    .page-header.type25 .block-search .action.search {
        height: 37px;
        line-height: 37px;
    }
    .page-header.type25 .header-main-right .action.my-wishlist {
        margin-left: 15px;
    }
}
@media (max-width: 767px) {
    .page-header.type25 .menu-container, .page-header.type25 .header-main-right > .custom-block {
        height: 0;
        overflow: hidden;
        border: 0;
    }
    .page-header.type25 .header-main-center {
        white-space: nowrap;
    }
    .page-header.type25 .logo {
        margin: 22.5px 0;
    }
    .page-header.type25 .logo img {
        height: auto;
    }
    .page-header.type25 .nav-toggle {
        line-height: 90px;
        color: #222529;
        margin-right: 15px;
        float: none;
        display: inline-block;
        vertical-align: middle;
    }
    .page-header.type25 .nav-toggle:before {
        color: inherit;
    }
    .page-header.type25 .block-search .label:before {
        content: '\e884';
        font-weight: 900;
        color: #222529;
        font-size: 20px;
    }
    .page-header.type25 .header-main-right .action.my-wishlist {
        margin-left: 13px;
    }
    .page-header.type25 .block-search {
        position: relative;
    }
    .page-header.type25 .block-search .label.active + .control input {
        position: absolute;
        left: auto;
        right: -40px;
        top: 100%;
        width: 280px;
        margin-top: 15px;
        border: 5px solid #ccc;
        border-radius: 50px;
    }
}
@media (max-width: 480px) {
    .page-header.type25 .block-search .label.active + .control input {
        right: -105px;
    }
}